body {
  overflow: hidden;
  padding: 10px;
}
h1 {
  color: blue;
}
.full-height {
  height: 100%;
}
.panel.full-height {
  overflow: hidden;
}
.panel.full-height .panel-body .full-expand {
  max-height: 95%;
}
.panel.full-height .panel-heading {
  height: 5%;
  min-height: 50px;
}
