body {
  overflow: hidden;
  padding: 10px;
}
tr {
  cursor: pointer;
  transition: opacity 0.3s;
}
.full-height {
  height: 98%;
}
.bottom {
  height: 2%;
}
.panel.full-height {
  overflow: hidden;
}
.panel.full-height .panel-body .full-expand {
  max-height: 95%;
  overflow: auto;
}
.panel.full-height .panel-heading {
  height: 5%;
  min-height: 50px;
}
#file-chooser {
  display: none;
}
table.table > tbody > tr > td.size {
  text-align: right;
  padding-right: 40px;
}
ul.fancytree-container {
  outline: none;
  border: none;
}
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.flashes {
  position: absolute;
  bottom: 0;
  width: 98%;
}
.flashes .alert {
  margin: 4px;
}
#msgbox .modal-body,
#confirm .modal-body {
  min-height: 200px;
}
#msgbox .modal-body .glyphicon,
#confirm .modal-body .glyphicon {
  font-size: 80pt;
  position: relative;
  top: 30px;
}
.navbar {
  margin-bottom: 5px;
}
.navbar-brand {
  padding: 8px 8px 0;
}
.navbar-brand span {
  color: #428bca;
  font-size: 2em;
  text-shadow: 1px 1px 3px #214687;
  -webkit-text-stroke: 1px #64adec;
}
