<div id ="msgbox" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="ok-btn close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-3">
                    <span class="glyphicon"></span>
                </div>    
                <div class="col-md-9 msgbox-content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="ok-btn btn btn-success btn-lg" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> Ok
                    </button>
                
            </div>
        </div>
    </div>
</div>


<div id ="confirm" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="no-btn close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="col-md-3">
                    <span class="glyphicon glyphicon-question-sign blue"></span>
                </div>    
                <div class="col-md-9 msgbox-content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="yes-btn btn btn-primary btn-lg" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span> Yes
                    </button>

                <button  type="button" class="no-btn btn btn-primary btn-lg" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> No
                    </button>
                
            </div>
        </div>
    </div>
</div>
