<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
  	<button 
  		type="button" 
  		class="btn btn-primary"
  		title="upload file">
  		<span class="glyphicon glyphicon-cloud-upload"></span>
  	</button>
	
      <button 
  		type="button" 
  		class="btn btn-primary"
  		title="download file">
  		<span class="glyphicon glyphicon-cloud-download"></span>
  		
  	</button>
  	
  </div>
  
  <div class="btn-group">
  	<button 
  		type="button" 
  		class="btn btn-danger"
  		title="delete file">
  		<span class="glyphicon glyphicon-remove"></span>
  		
  	</button>
		<button 
  		type="button" 
  		class="btn btn-danger"
  		title="move file">
  		<span class="glyphicon glyphicon-export"></span>
  		
  	</button>
  	<button 
  		type="button" 
  		class="btn btn-default"
  		title="rename file">
  		<span class="glyphicon glyphicon-pencil"></span>
  		
  	</button>
  </div>

  <div class="btn-group">
  	<button 
  		type="button" 
  		class="btn btn-primary"
  		title="account">
  		<span class="glyphicon glyphicon-user"></span>
  		
  	</button>
		<button 
  		type="button" 
  		class="btn btn-default"
  		title="settings">
  		<span class="glyphicon glyphicon-wrench"></span>
  		
  	</button>
		
  </div>
  
</div>