<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-primary" title="new folder">
            <span class="glyphicon glyphicon-plus"></span>
        </button>

        <button type="button" class="btn btn-danger" title="delete folder">
            <span class="glyphicon glyphicon-remove"></span>

        </button>
        <button type="button" class="btn btn-danger" title="move folder">
            <span class="glyphicon glyphicon-export"></span>

        </button>
        <button type="button" class="btn btn-default" title="rename folder">
            <span class="glyphicon glyphicon-pencil"></span>

        </button>
    </div>
</div>
