<!doctype html>
<html class="full-height">

 
<head>
	<title>Web Disk</title>
	<link rel="stylesheet" href="/nprogress/nprogress.css"/>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="css/webdisk.css"/>

</head>

<body class="full-height">
	
{{{ yield }}}


<script src="/jquery/jquery.min.js"></script>
<script src="/nprogress/nprogress.js"></script>
<script src="/momentjs/moment.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

{{{ yield-scripts }}}

<div class="bottom">
    {{#user}}
    {{fullname}}
    {{/user}}
    {{^user}}
    anonymous
    {{/user}}
</div>
</body>


</html>
