<!doctype html>
<html class="full-height">

 
<head>
	<title>Web Disk</title>
	<link rel="stylesheet" href="/nprogress/nprogress.css"/>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="/mrmrs-colors/css/colors.css"/>
	<link rel="stylesheet" href="css/webdisk.css"/>
            
            {{{ yield-styles }}}
</head>

<body class="full-height">

{{> navbar }}
	


{{{ yield }}}


<div class="flashes">
    {{#errors}}
        <div class="alert alert-danger fade in">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          {{.}}
        </div>
    {{/errors}}
</div>

<div id="error-template" class="hidden alert alert-danger fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          
</div>

<script src="/jquery/jquery.min.js"></script>
<script src="/nprogress/nprogress.js"></script>
<script src="/momentjs/moment.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/utils.js"></script>
{{{ yield-scripts }}}

</body>


</html>
